.zone-membre {
    width: 100%;
    height: 60px;
    position: relative;
    line-height: 60px;
    vertical-align: middle;

    .btn-connexion, .btn-inscription, .btn-moncompte {
        display: inline-block;
        height: 40px;
        width: 42%;
        background-color: $btn-rouge;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        color: $quasi-blanc;
        font-family: $titre-regular;
        float: right;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn-connexion:hover, .btn-inscription:hover {
        background-color: $btn-rouge-over;
        color: $quasi-blanc;
    }

    @media only screen
    and (min-device-width : 768px) {

        .btn-connexion, .btn-inscription, .btn-moncompte {
            float: right;
            width: auto;
            padding: 10px;
            background-color: $quasi-blanc;
            color: #6E7074;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 14px;
            border: 1px solid $quasi-blanc;
        }

        .btn-connexion:hover, .btn-inscription:hover, .btn-moncompte:hover {
            background-color: $quasi-blanc;
            color: $gris-texte;
            border: 1px solid $gris-texte;
        }
    }

    @media only screen
    and (min-width : 1224px) {

        .btn-connexion, .btn-inscription, .btn-moncompte {
            margin-right: 0;
            font-size: 16px;
        }

    }
}

.header {
    width: 100%;
    min-height: 20px;
    padding-top: 60px;
    padding-bottom: 60px;

    #logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 80px;
        height: auto;
    }

    .nav-mobile {
        padding: 0;
    }

    .nav-mobile li {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 1.2em;
        font-family: $titre-regular;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-mobile li:first-child {
        margin-top: 1.2em;
    }

    .nav-mobile li:last-child {
        margin-bottom: 0;
    }

    a {
        color: $gris-texte;
    }

    a:hover {
        color: $btn-rouge;
    }

    .nav1-ipad, .nav2-ipad {
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 768px) {

    .header {
        position: relative;

        #logo {
            display: block;
            position: absolute;
            width: 80px;
            height: auto;
            margin: auto;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        .nav-mobile {
            display: none;
        }

        .nav1-ipad, .nav2-ipad {
            display: inline-block;
            position: absolute;
            padding: 0;
            list-style-type:none;
            vertical-align: middle;
            top: 40px;
            margin-right: 30px;
            margin-left: 30px;
        }

        .nav1-ipad {
            left: 0px;
        }

        .nav2-ipad {
            right: 0px;
        }

        .nav1-ipad li, .nav2-ipad li {
            display: inline-block;
            margin-bottom: 1.2em;
            font-family: $titre-regular;
            font-size: 20px;
        }

        .nav1-ipad li:first-child, .nav2-ipad li:first-child {
            margin-right: 40px;
        }

        .nav1-ipad li a, .nav2-ipad li a {
            vertical-align: middle;
        }
    }
}

/* Desktops and laptops ----------- */
    @media only screen
    and (min-width : 1224px) {

    .header {
        padding-top: 100px;
        padding-bottom: 100px;

        .nav1-ipad, .nav2-ipad {
            margin-right: 0;
            margin-left: 0;
            top: 80px;
        }

        .nav1-ipad li , .nav2-ipad li {
            font-size: 22px;
        }
    }
}
