{{ define "connexion" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <form class="pure-form pure-form-aligned connexion-form" method="POST" action="">

                    <fieldset>

                        <legend>Connexion</legend>

                        <div class="pure-control-group">
                            <label for="name">Courriel</label>
                            <input id="name" type="text" placeholder="Courriel">
                        </div>

                        <div class="pure-control-group">
                            <label for="password">Mot de passe</label>
                            <input id="password" type="password" placeholder="Mot de passe">
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Connexion</button>
                        </div>

                    </fieldset>

                </form>

                <hr>

               {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}