{{ define "connexion" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <h1>Connexion</h1>

                <hr>

                <form class="pure-form pure-form-aligned connexion-form" method="POST" action="">

                        <fieldset class="pure-group">
                            <input type="text" class="pure-input-1-2" placeholder="Courriel">
                            <input type="text" class="pure-input-1-2" placeholder="Mot de passe">
                        </fieldset>

                        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Connexion</button>

                    </fieldset>

                    <p>Vous avez oublié votre mot de passe?</p>
                    <a href="#">Cliquez ici pour le récupérer</a>

                </form>

                <hr>

                <div class="info">

                    <h2>Vous n'avez pas de compte?</h2>
                    <p>Cliquez ici pour faire une demande d'admission.</p>
                    <a class="pure-button" href="/inscription">Inscription</a>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}
