{{ define "forum_add" }}
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>Créer un nouveau sujet</h1>

                </div>

                <hr>

                <div class="nouv-tuto">

                    <h2>Nom du sujet</h2>
                    <article class="tuto-nom" contenteditable="true">
                        <p>Nom du tutoriel...</p>
                    </article>

                    <h2>Contenu</h2>
                    <article class="tuto-contenu" contenteditable="true">

                        <p>Écrivez votre tutoriel ici...</p>

                    </article>

                    <a href="#" class="btn-soumettre">Soumettre</a>

                </div>

                <hr>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/vendor/grande.min.js"></script>
        <script type="text/javascript">
            grande.bind(document.querySelectorAll("article"));
        </script>
        <script src="js/main.js"></script>
    </body>
</html>
{{ end }}