{{ define "forum" }}
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>Forum</h1>
                    <p>Utilisez ce forum pour partager vos connaissances, demander de l'aide à vos pairs et discuter de vos projets.</p>
                    <a class="btn-nouv-publication" href="/forum/nouveau">Créer une nouvelle publication</a>

                </div>

                <hr>

                <div class="categories">

                    <h2>Catégories</h2>
                    <ul>
                        <li>Catégories  /</li>

                        {{range .Categories}}
                        <li><a href="{{.Url}}">{{.Title}}</a></li>
                        {{end}}

                    </ul>

                    <select>
                        {{range .Categories}}
                        <option value="{{ .Id }}">{{.Title}}</option>
                        {{end}}
                    </select>

                    <form><input type="text" placeholder="Recherche..."></form>

                    <select>
                        <option>Plus récents d'abord</option>
                        <option>Non résolus d'abord</option>
                        <option>Les plus commentés</option>
                    </select>

                </div>

                <hr>

                <div class="liste-posts">

                    {{range .Forums}}
                        <div class="post">

                        <h2>{{.Title}}</h2>
                        <p class="post-desc">{{.Text}}</p>
                        <div class="post-meta">
                            <p class="post-cat">{{.CategoryTitle}}</p>
                            <img src="/img/icone-reponse.png" alt="Nombre de réponses"><p>{{.PostNumb}}</p>
                            

                            {{if eq .IsSolved 1 }}
                                <img src="/img/icone-resolu.png" alt="Statut de la publication"><p>Résolu</p>
                            {{else}}
                                <img src="/img/icone-non-resolu.png" alt="Statut de la publication"><p>Non résolu</p>
                            {{end}}
                            
                            <img src="/img/icone-appreciations.png" alt="Nombre d'appréciations"><p>8</p>
                        </div>

                        <a class="btn-repondre" href="#">Répondre</a>

                        <hr>

                    </div>
                    {{end}}

                </div>

                <div class="pagination">

                    <ul>
                        {{range .PagesList}}
                        <li><a href="{{.Url}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>

                    <select>
                        {{range .PagesList}}
                        <option>{{.Title}}</option>
                        {{end}}
                    </select>

                    <a class="btn-nav-suiv" href="#">Suivant</a>

                </div>

                <hr>

                {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="js/main.js"></script> -->
    </body>
</html>
{{ end }}