{{ define "forum_add" }}
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>{{.Title}}</h1>

                </div>

                <hr>

                <div class="nouv-post">

                    <div class="msg-succes">

                        <h2>Votre sujet a été publié avec succès.</h2>
                        <p>Vous pouvez maintenant le consulter en cliquant sur le bouton ci-dessous.</p>
                        <a class="pure-button" id="forum-id-created" href="/forum/post/{{.Forum.Id}}">Voir votre sujet</a>

                    </div>

                    <div class="msg-erreur"></div>

                    <form class="pure-form nouv-post-form" action="" method="POST">

                        <input type="hidden" id="user-id" name="user-id" value="{{.SessIdUser}}">
                        <input type="hidden" id="forum-id" name="forum-id" value="{{.Forum.Id}}">
                        
                        <label class="label-post-nom" for="post-nom">Nom du sujet</label>
                        <input type="text" id="post-nom" class="post-nom" name="post-nom" data-validation="required" data-validation-error-msg="Veuillez saisir le nom du sujet." value="{{.Forum.Title}}">
                        
                        <div class="sec-post-cat">
                            <label class="label-post-cat" for="post-cat">Catégorie</label>
                            <select id="post-cat" class="post-cat" name="post-cat">

                                {{if eq .Forum.Id 0}}
                                    <option value="-1">Catégorie</option>
                                {{end}}

                                {{$idCatSelected := .Forum.ForumCategoryId}}

                                {{range .Categories}}
                                    {{if eq .Id $idCatSelected}}
                                        <option value="{{ .Id }}" selected>{{.Title}}</option>
                                    {{else}}
                                        <option value="{{ .Id }}">{{.Title}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        </div>
                        

                        {{if ne .Forum.Id 0}}
                        <div class="sec-post-etat">
                            <label class="label-post-etat" for="post-etat">État du problème</label>
                            <select id="post-etat" class="post-etat" name="post-etat">

                            {{ if eq .Forum.IsSolved 1}}
                                <option value="1" selected>Résolu</option>
                                <option value="0">Non résolu</option>
                            {{else}}
                                <option value="1">Résolu</option>
                                <option value="0" selected>Non résolu</option>
                            {{end}}
                            </select>
                        </div>
                        {{end}}
                        <hr>
                        <label class="label-post-contenu" for="post-contenu">Contenu</label>
                        <textarea id="post-contenu" name="postcontenu" class="post-contenu" data-validation="required" data-validation-error-msg="Veuillez écrire le contenu de votre sujet.">{{.Forum.Text}}</textarea>

                        <input id="submit" type="submit" class="btn-soumettre" value="Soumettre">

                    </form>

                </div>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/ckeditor.js"></script>
        <script type="text/javascript" src="/js/vendor/adapters/jquery.js"></script>
        <script type="text/javascript" src="/js/vendor/form-validator/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="/js/forum_add.js"></script>
    </body>
</html>
{{ end }}
