{{ define "forum_add" }}
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>Créer un nouveau sujet</h1>

                </div>

                <hr>

                <div class="nouv-post">

                    <h2>Nom du sujet</h2>
                    <article class="post-nom">
                        <p>Nom du tutoriel...</p>
                    </article>

                    <h2>Contenu</h2>
                    <textarea name="post-contenu" class="post-contenu">

                        <p>Écrivez votre tutoriel ici...</p>

                    </textarea>

                    <a href="#" class="btn-soumettre">Soumettre</a>

                </div>

                <hr>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="{{ .PageLevel }}js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="{{ .PageLevel }}js/vendor/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace( 'tuto-contenu', {

            });
        </script>
        <!-- <script src="{{ .PageLevel }}js/main.js"></script> -->
    </body>
</html>
{{ end }}