{{ define "forum_post" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <div class="liste-post">

                    <div class="post">

                            {{ if .Forum}}
                            <h2>{{ .Forum.Title }}</h2>

                            <div class="post-contenu">
                                {{ .Forum.Text }}
                            </div>

                            <div class="post-meta">

                                <!-- <p class="post-date">1er avril 2014</p> -->
                                <p class="post-date">{{.Forum.CreatedAtString}}</p>

                                <p class="post-auteur">{{.Forum.UserName}}</p>
                                {{if eq .Forum.IsSolved 1}}
                                    <p class="post-resolu">Résolu</p>
                                {{else}}
                                    <p class="post-resolu">Non résolu</p>
                                {{end}}

                                {{if eq .Forum.UserId .SessIdUser}}
                                <p><a class="pure-button post-editer" href="/forum/post/edit/{{.Forum.Id}}">Éditer</a></p>
                                {{end}}

                            </div>
                            {{end }}

                    </div>

                    <div class="comms">

                        {{ if .Forum.Posts}}
                            {{ range .Forum.Posts }}
                                <div class="comm">
                                    <p class="comm-texte">{{.Text}}</p>
                                    <p class="comm-auteur">{{.UserName}}</p>
                                    <p class="comm-date">{{.CreatedAtString}}</p>
                                </div>
                            {{end}}
                        {{end}}

                    </div>

                    <div class="nouv-comm">

                        <p>Nouveau commentaire</p>

                        <form class="form-nouv-comm" method="POST" action="">

                            <input type="hidden" id="nouv-comm-id" name="nouv-comm-id" value="{{.Forum.Id}}">
                            <input type="hidden" id="nouv-comm-auteur" name="nouv-comm-auteur" value="{{.SessIdUser}}">

                            <textarea id="nouv-comm-contenu" data-validation="required" data-validation-error-msg="Veuillez inscrire votre message."></textarea>
                            <button type="submit" class="pure-button pure-button-primary">Envoyer</button>

                        </form>

                    </div>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/form-validator/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="/js/vendor/moment.min.js"></script>
        <script type="text/javascript" src="/js/forum_nouv_comm.js"></script>
    </body>
</html>
{{ end }}
