{{ define "index" }}
{{template "header" .}}
            <div class="body">

                <div class="categories">

                    <ul>
                        <li>Catégories  /   </li>
                        <li><a href="#">Graphisme</a></li>
                        <li><a href="#">Packaging</a></li>
                        <li><a href="#">Dessins et croquis</a></li>
                        <li><a href="#">Couleur</a></li>
                        <li><a href="#">Perspective</a></li>
                        <li><a href="#">Rough et storyboard</a></li>
                        <li><a href="#">Publicité</a></li>
                        <li><a href="#">Typographie</a></li>
                        <li><a href="#">Identité visuelle</a></li>
                        <li><a href="#">Édition</a></li>
                        <li><a href="#">Projets de diplômes</a></li>
                    </ul>

                    <select>
                        <option value="#">Catégories</option>
                        <option value="#">Graphisme</option>
                        <option value="#">Packaging</option>
                        <option value="#">Dessins et croquis</option>
                        <option value="#">Couleur</option>
                        <option value="#">Perspective</option>
                        <option value="#">Rough et storyboard</option>
                        <option value="#">Publicité</option>
                        <option value="#">Typographie</option>
                        <option value="#">Identité visuelle</option>
                        <option value="#">Édition</option>
                        <option value="#">Projets et diplômes</option>
                    </select>

                </div>

                <div class="projets" >

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/420x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/220x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/420x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/220x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/420x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/320x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                    <div class="img-projet">
                        <img class="img-du-projet" src="http://placehold.it/420x400">
                        <div class="over-projet">  
                            <h3>Nom du projet</h3>
                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <a href="#">Voir le projet</a>
                        </div>
                    </div>

                </div>

                <div class="btn-plus-de-projets">
                        <a href="#">Afficher plus de projets</a>
                        <img src="assets/img/square_add.png" alt="Icône afficher plus de projets">
                    </div>

                <hr>

                <div class="actualites">

                    <div class="titre-section-actualite">
                        <h2>Actualités</h2>
                        <a class="lien-toutes-actus" href="#">Toutes les actualités</a>
                    </div>

                    <div class="actu">
                        <h3>Titre de l'actualité</h3>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <a href="#">Lire la suite</a>
                    </div>

                    <div class="actu">
                        <h3>Titre de l'actualité</h3>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <a href="#">Lire la suite</a>
                    </div>

                </div>

                <hr>

                <div class="info-communaute">

                    <div class="section-info">
                        <div class="img-section" id="qui-sommes-nous">
                            <h3>Qui sommes-nous ?</h3>
                        </div>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <a href="#">En savoir plus</a>
                    </div>

                    <div class="section-info">
                        <div class="img-section" id="pq-une-asso">
                            <h3>Pourquoi une<br>association ?</h3>
                        </div>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <a href="#">En savoir plus</a>
                    </div>

                    <div class="section-info">
                        <div class="img-section" id="insc">
                            <h3>Inscription</h3>
                        </div>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <a href="#">S'inscrire</a>
                    </div>

                </div>

                <hr>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="assets/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="assets/js/vendor/jquery.justifiedGallery.js"></script>
        <script type="text/javascript" src="assets/js/vendor/jquery.contenthover.min.js"></script>
        <script type="text/javascript" src="assets/js/vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
    </body>
</html>
{{ end }}