{{ define "inscription" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <h1>Inscription</h1>

                <hr>

                <div class="msg-erreur">

                </div>

                <form class="pure-form pure-form-aligned connexion-form" method="POST" action="">

                    <h2>Informations personnelles</h2>

                    <fieldset class="pure-group">
                        <input type="text" class="pure-input-1-2" placeholder="Prénom" data-validation="required" data-validation-msg-error="Veuillez saisir votre prénom.">
                        <input type="text" class="pure-input-1-2" placeholder="Nom" data-validation="required" data-validation-msg-error="Veuillez saisir votre nom.">
                    </fieldset>

                    <fieldset>
                        <input type="email" class="pure-input-1-2" placeholder="Email" data-validation="email" data-validation-msg-error="Veuillez saisir votre adresse courriel.">
                    </fieldset>

                    <h2>Créer un mot de passe</h2>

                    <fieldset class="pure-group">
                        <input type="password" name="pass_confirmation" class="pure-input-1-2" placeholder="Mot de passe" data-validation="length" data-validation-length="min6" data-validation-msg-error="Veuillez saisir un mot de passe valide (6 caractères et +)">
                        <input type="password" name="pass" class="pure-input-1-2" placeholder="Confirmation" data-validation="confirmation" data-validation-msg-error="La confirmation de mot de passe est différent.">
                    </fieldset>

                    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Inscription</button>

                    <!-- <fieldset>

                        <div class="pure-control-group">
                            <label for="prenom">Votre prénom</label>
                            <input id="prenom" type="text" placeholder="Prénom">
                        </div>

                        <div class="pure-control-group">
                            <label for="name">Votre nom</label>
                            <input id="name" type="text" placeholder="Nom">
                        </div>

                    </fieldset>

                    <fieldset>

                        <div class="pure-control-group">
                            <label for="email">Courriel</label>
                            <input id="email" type="text" placeholder="Courriel">
                        </div>

                        <div class="pure-control-group">
                            <label for="password">Mot de passe</label>
                            <input id="password" type="password" placeholder="Mot de passe">
                        </div>

                        <div class="pure-control-group">
                            <label for="passwordconf">Confirmation</label>
                            <input id="passwordconf" type="password" placeholder="Confirmation">
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Connexion</button>
                        </div>

                    </fieldset> -->

                </form>

                <hr>

                <div class="info">

                    <h2>Vous avez déjà un compte ?</h2>
                    <p>Cliquez ici pour vous connecter à votre compte.</p>
                    <a class="pure-button" href="/connexion">Connexion</a>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/form-validator/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="/js/inscription.js"></script>
    </body>
</html>
{{ end }}
