{{ define "news-unique" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <div class="liste-actu">

                    <div class="actu" id="{{.Id}}">

                        <h2>{{.Title}}</h2>
                        <div class="actu-contenu">

                            {{.Text}}

                        </div>

                        <div class="actu-meta">
                            <p class="actu-date">{{.CreatedAtString}}</p>
                            <p class="actu-auteur">{{.UserName}}</p>
                        </div>

                    </div>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}
