{{ define "news" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <div class="liste-actu">

                    <div class="actu">

                        <h2>Le CME se refait une beauté!</h2>
                        <div class="actu-contenu">

                            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. At iam decimum annum in spelunca iacet. Hoc non est positum in nostra actione. Facillimum id quidem est, inquam. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Duo Reges: constructio interrete.</p>

                            <p>Portenta haec esse dicit, neque ea ratione ullo modo posse vivi; Dic in quovis conventu te omnia facere, ne doleas. Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. Item de contrariis, a quibus ad genera formasque generum venerunt. Suo genere perveniant ad extremum;</p>

                        </div>
                        
                        <div class="actu-meta">
                            <p class="actu-date">11 Avril 2014</p>
                            <p class="actu-auteur">Henri Lepic</p>
                        </div>

                    </div>

                    <div class="actu">

                        <h2>Un super long titre sans signification qui est sur deux lignes pour tester le design</h2>
                        <div class="actu-contenu">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. At iam decimum annum in spelunca iacet. Hoc non est positum in nostra actione. Facillimum id quidem est, inquam. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Duo Reges: constructio interreteve.</p>

                        </div>
                        
                        <div class="actu-meta">
                            <p class="actu-date">11 Avril 2014</p>
                            <p class="actu-auteur">Henri Lepic</p>
                        </div>

                    </div>

                </div>

                <div class="pagination">

                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ul>

                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>

                    <a class="btn-nav-suiv" href="#">Suivant</a>

                </div>

                <hr>

               {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}