{{ define "qui_sommes_nous" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <div class="post">

                        <h2>Qui sommes-nous ?</h2>

                        <div class="post-contenu">

                            <img class="img-info" src="/img/qui_sommes_nous_large.jpg" alt="Qui sommes nous ?">

                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>

                        </div>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}
