{{ define "tutorial_add" }}
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>{{.Title}}</h1>

                </div>

                <hr>

                <div class="nouv-post">

                    <div class="msg-succes">

                        <h2>Votre sujet a été publié avec succès.</h2>
                        <p>Vous pouvez maintenant le consulter en cliquant sur le bouton ci-dessous.</p>
                        <a class="pure-button" id="tutorial-id-created" href="/tutoriel/post/{{.Tutorial.Id}}">Voir votre sujet</a>

                    </div>

                    <div class="msg-erreur"></div>

                    <form class="pure-form nouv-post-form" action="" method="POST">

                        <input type="hidden" id="user-id" name="user-id" value="{{.SessIdUser}}">
                        <input type="hidden" id="tutorial-id" name="forum-id" value="{{.Tutorial.Id}}">

                        <label class="label-post-nom" for="post-nom">Titre du sujet</label>
                        <input type="text" id="post-nom" class="post-nom" name="post-nom" value="{{.Tutorial.Title}}">

                        <div class="sec-post-cat">
                            <label class="label-post-cat" for="post-cat">Catégorie</label>
                            <select id="post-cat" class="post-cat" name="post-cat">

                                {{if eq .Tutorial.Id 0}}
                                    <option value="-1">Catégorie</option>
                                {{end}}

                                {{$idCatSelected := .Tutorial.TutorialCategoryId}}

                                {{range .Categories}}
                                    {{if eq .Id $idCatSelected}}
                                        <option value="{{ .Id }}" selected>{{.Title}}</option>
                                    {{else}}
                                        <option value="{{ .Id }}">{{.Title}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        </div>

                        <hr>

                        <label class="label-post-contenu" for="post-contenu">Contenu</label>
                        <textarea id="post-contenu" name="postcontenu" class="post-contenu">{{.Tutorial.Text}}</textarea>
                        <input id="submit" type="submit" class="btn-soumettre" value="Soumettre">
                    </form>

                </div>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/ckeditor.js"></script>
        <script type="text/javascript" src="/js/vendor/adapters/jquery.js"></script>
        <script type="text/javascript" src="/js/tutorial_add.js"></script>
    </body>
</html>
{{ end }}
