{{ define "tutorial" }}
<!DOCTYPE html>
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>Tutoriels</h1>
                    <p>Enseignez à vos pairs des compétences que vous maîtrisez déjà grâce à un tutoriel.</p>
                    <a class="btn-nouv-publication" href="/tutoriel/nouveau" rel="nofollow">Créer un tutoriel</a>

                </div>

                <hr>

                <div class="categories">

                    <h2>Catégories</h2>
                    <ul>
                        <li>Catégories  /</li>

                        {{range .Categories}}
                        <li><a href="{{.Url}}">{{.Title}}</a></li>
                        {{end}}

                    </ul>

                    <select>
                        {{range .Categories}}
                        <option value="{{ .Id }}">{{.Title}}</option>
                        {{end}}
                    </select>

                    <form class="pure-form"  action="/tutoriel/search" method="get">
                        <input type="text" class="pure-input-rounded" placeholder="Recherche..." name="q">
                        <button type="submit" class="pure-button">Rechercher</button>
                    </form>

                    <select>
                        <option>Plus récents d'abord</option>
                        <option>Non résolus d'abord</option>
                        <option>Les plus commentés</option>
                    </select>

                </div>

                <hr>


                <div class="liste-posts">
                    {{if .Tutorials}}
                        {{range .Tutorials}}
                            <div class="post">
                            
                            <h2><a href="/tutoriel/post/{{.Id}}">{{.Title}}</a></h2>
                            {{.Text}}
                            <div class="post-meta">
                                <p class="post-cat">{{.CategoryTitle}}</p>
                                <img src="/img/ui/icone-reponse.png" alt="Nombre de réponses"><p>{{.PostNumb}}</p>
                                <img src="/img/ui/icone-appreciations.png" alt="Nombre d'appréciations"><p>8</p>
                            </div>

                            <hr>

                        </div>
                        {{end}}
                    {{else}}
                        <h2>Désolé nous n'avons pas trouvé de résultats à votre recherche</h2>
                        <h3>Mot clef : {{.SearchText}}</h3>
                        <img src="http://www.lorempixum.com/g/1200/800/" alt="" />

                    {{end}}

                </div>


                <div class="pagination">

                    <ul>
                        {{range .PagesList}}
                        <li><a href="{{.Url}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>

                    <select>
                        {{range .PagesList}}
                        <option>{{.Title}}</option>
                        {{end}}
                    </select>

                    <a class="btn-nav-suiv" href="#">Suivant</a>

                </div>

                {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}
