{{ define "tutorial" }}
<!DOCTYPE html>
{{template "header" .}}

            <div class="body">

                <div class="entete-forum">

                    <h1>Tutoriels</h1>
                    <p>Enseignez à vos pairs des compétences que vous maîtrisez déjà grâce à un tutoriel.</p>
                    <a class="btn-nouv-publication" href="tutoriels/nouveau">Créer un tutoriel</a>

                </div>

                <hr>

                <div class="categories">

                    <h2>Catégories</h2>
                    <ul>
                        <li>Catégories  /</li>
                        <li><a href="#">Web</a></li>
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Rough</a></li>
                        <li><a href="#">Cours</a></li>
                        <li><a href="#">Autre</a></li>
                    </ul>

                    <select>
                        <option>Web</option>
                        <option>Print</option>
                        <option>Rough</option>
                        <option>Cours</option>
                        <option>Autre</option>
                    </select>

                    <form><input type="text" placeholder="Recherche..."></form>

                    <select>
                        <option>Plus récents d'abord</option>
                        <option>Non résolus d'abord</option>
                        <option>Les plus commentés</option>
                    </select>

                </div>

                <hr>

                <div class="liste-posts">

                    <div class="post">

                        <h2>Comment créer un effet néon sur du lettrage</h2>
                        <p class="post-desc">Un petit tutoriel très simple qui explique comment générer un effet de lettrage néon, de style un peu rétro, avec les effets de Photoshop.</p>
                        <div class="post-meta">
                            <p class="post-cat">Photoshop</p>
                            <img src="img/icone-reponse.png" alt="Nombre de réponses"><p>0</p>
                            <img src="img/icone-non-resolu.png" alt="Statut de la publication"><p>Non résolu</p>
                            <img src="img/icone-appreciations.png" alt="Nombre d'appréciations"><p>8</p>
                        </div>

                        <a class="btn-repondre" href="#">Répondre</a>

                        <hr>

                    </div>

                    <div class="post">

                        <h2>Comment utiliser le Pathfinder dans Illustrator</h2>
                        <p class="post-desc">Outil indispensable à tous les utilisateurs de Illustrator! Je vous explique ici comment maîtriser le Pathfinder.</p>
                        <div class="post-meta">
                            <p class="post-cat">Illustator</p>
                            <img src="img/icone-reponse.png" alt="Nombre de réponses"><p>0</p>
                            <img src="img/icone-non-resolu.png" alt="Statut de la publication"><p>Non résolu</p>
                            <img src="img/icone-appreciations.png" alt="Nombre d'appréciations"><p>8</p>
                        </div>

                        <a class="btn-repondre" href="#">Répondre</a>

                        <hr>

                    </div>

                    <div class="post">

                        <h2>Comment générer du CSS avec SASS/SCSS dans Sublime Text 2</h2>
                        <p class="post-desc">SASS/SCSS s'incruste dans les bonnes habitudes des intégrateurs de ce monde à cause de ses fonctionnalités très utiles. Je vous montre ici comment générer du CSS compressé à partir de SASS avec Sublime Text 2.</p>
                        <div class="post-meta">
                            <p class="post-cat">Sublime Text</p>
                            <img src="img/icone-reponse.png" alt="Nombre de réponses"><p>0</p>
                            <img src="img/icone-non-resolu.png" alt="Statut de la publication"><p>Non résolu</p>
                            <img src="img/icone-appreciations.png" alt="Nombre d'appréciations"><p>8</p>
                        </div>

                        <a class="btn-repondre" href="#">Répondre</a>

                        <hr>

                    </div>

                </div>

                <div class="pagination">

                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ul>

                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>

                    <a class="btn-nav-suiv" href="#">Suivant</a>

                </div>

                <hr>

                {{template "footer" .}}
            </div>
        </div>

        <!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.justifiedGallery.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.contenthover.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
{{ end }}