{{ define "user_fiche" }}
{{template "header" .}}

            <div class="body">

                <div class="etu-fiche">
                    <div class="container-img"><img class="etu-photo" src="/img/uploads/users/{{.User.Id}}/{{.User.PhotoProfil}}" alt="Photo de l'étudiant"></div>
                    <h1>{{.User.FirstName}} {{.User.LastName}}</h1>
                    <p class="etu-gradu">Gradué en {{.User.Graduation}}</p>
                    <p class="etu-bio">{{.User.Text}}</p>

                    <a class="etu-social" href="{{.User.LinkedIn}}">LinkedIn</p>
                    <a class="etu-social" href="{{.User.Twitter}}">Twitter</p>
                    <a class="etu-social" href="{{.User.Facebook}}">Facebook</p>
                </div>

                <hr>

                <div class="etu-projets">

                    <div class="entete-projets">

                        <h2>Projets de {{.User.FirstName}}</h2>
                        {{if eq .SessIdUser .User.Id}}
                            <a class="pure-button pure-button-primary ajout-projet" href="#">Ajouter une image</a>
                        {{end}}
                    </div>

                    {{ if .Projects}}
                    <div class="etu-projet-liste">

                        {{ range .Projects}}
                        <div class="img-projet">
                            <img class="img-du-projet" src="{{.ImageUrl}}">
                            <div class="over-projet">
                                <h3>{{.Title}}</h3>
                                {{.Description}}
                                <a href="./{{.Url}}">Voir le projet</a>
                            </div>
                        </div>
                        {{end}}

                    </div>
                    {{end}}


                </div>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.contenthover.min.js"></script>
        <script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/js/etu_fiche.js"></script>
    </body>
</html>
{{ end }}
