{{ define "user_fiche" }}
{{template "header" .}}

            <div class="body">

                <div class="etu-fiche">
                    <div class="container-img"><img class="etu-photo" src="/img/uploads/users/{{.Id}}/{{.PhotoProfil}}" alt="Photo de l'étudiant"></div>
                    <h1>Henri Lepic</h1>
                    <p class="etu-gradu">Gradué en 2003</p>
                    <p class="etu-bio">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p class="etu-social">HenriLepic</p>
                    <p class="etu-social">@HenriLepic</p>
                </div>

                <hr>

                <div class="etu-projets">

                    <div class="entete-projets">

                        <h2>Projets d'Henri</h2>

                        <a class="pure-button pure-button-primary ajout-projet" href="#">Ajouter une image</a>

                    </div>

                    <div class="etu-projet-liste">

                        <div class="img-projet">
                            <img class="img-du-projet" src="http://placehold.it/320x400">
                            <div class="over-projet">
                                <h3>Nom du projet</h3>
                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#">Voir le projet</a>
                            </div>
                        </div>

                        <div class="img-projet">
                            <img class="img-du-projet" src="http://placehold.it/320x400">
                            <div class="over-projet">
                                <h3>Nom du projet</h3>
                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#">Voir le projet</a>
                            </div>
                        </div>

                        <div class="img-projet">
                            <img class="img-du-projet" src="http://placehold.it/320x400">
                            <div class="over-projet">
                                <h3>Nom du projet</h3>
                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#">Voir le projet</a>
                            </div>
                        </div>

                    </div>

                </div>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.contenthover.min.js"></script>
        <script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/js/etu_fiche.js"></script>
    </body>
</html>
{{ end }}
