{{ define "user_fiche" }}
{{template "header" .}}

            <div class="body">

                <div class="etu-fiche">

                    <div class="etu-cover">
                        <img src="/img/uploads/users/{{ .Id }}/{{ .PhotoCover }}" alt="">
                    </div>

                    <div class="etu-avatar">
                        <img src="/img/uploads/users/{{.User.Id}}/{{.User.PhotoProfil}}" alt="Avatar d'{{ .User.FirstName }} {{ .User.LastName }}">
                    </div>

                    <h2>{{ .User.FirstName }} {{ .User.LastName }}</h2>
                    <p class="etu-gradu">Gradué en {{ .User.Graduation }}</p>
                    <p class="etu-bio">{{.User.Text}}</p>

                    <div class="wrapper-etu-social">
                        <a class="etu-social social-fb" href="{{.User.Facebook}}"><img src="/img/ui/facebook-logo.png" alt="Accéder au profil Facebook d'{{ .User.FirstName }} {{ .User.LastName }}"></a>
                        <a class="etu-social social-tw" href="{{.User.Twitter}}"><img src="/img/ui/twitter-logo.png" alt="Accéder au profil Twitter d'{{ .User.FirstName }} {{ .User.LastName }}"></a>
                        <a class="etu-social social-li" href="{{.User.LinkedIn}}"><img src="/img/ui/linkedin-logo.png" alt="Accéder au profil LinkedIn d'{{ .User.FirstName }} {{ .User.LastName }}"></a>
                    </div>

                </div>

                <div class="etu-projets">

                    <div class="entete-projets">

                        {{if eq .SessIdUser .User.Id}}
                            <a class="pure-button pure-button-primary ajout-projet" href="#">Ajouter une image</a>
                        {{end}}
                    </div>

                    {{ if .Projects}}
                    <div class="etu-projet-liste">

                        {{ range .Projects}}
                        <div class="img-projet">
                            <img class="img-du-projet" src="{{.ImageUrl}}">
                            <div class="over-projet">
                                <h3>{{.Title}}</h3>
                                {{.Description}}
                                <a href="./{{.Url}}">Voir le projet</a>
                            </div>
                        </div>
                        {{end}}

                    </div>
                    {{end}}


                </div>

                {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.contenthover.min.js"></script>
        <script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/js/etu_fiche.js"></script>
    </body>
</html>
{{ end }}
