{{ define "inscription" }}
<!DOCTYPE html>
{{template "header" .}}
            <div class="body">

                <h1>Inscription</h1>

                <hr>

                <div class="msg-erreur"></div>

                <form class="pure-form pure-form-aligned connexion-form" method="POST" action="">

                    <h2>Informations personnelles</h2>

                    <fieldset class="pure-group">
                        <input type="text" id="prenom" class="pure-input-1-2" placeholder="Prénom">
                        <input type="text" id="nom" class="pure-input-1-2" placeholder="Nom">
                    </fieldset>

                    <fieldset>
                        <input type="email" id="email" class="pure-input-1-2" placeholder="Email">
                    </fieldset>

                    <h2>Créer un mot de passe</h2>

                    <fieldset class="pure-group">
                        <input type="password" id="pass" name="pass_confirmation" class="pure-input-1-2" placeholder="Mot de passe">
                        <input type="password" id="pass2" name="pass" class="pure-input-1-2" placeholder="Confirmation">
                    </fieldset>

                    <button type="submit" id="submit" class="pure-button pure-input-1-2 pure-button-primary">Inscription</button>

                </form>

                <hr>

                <div class="info">

                    <h2>Vous avez déjà un compte ?</h2>
                    <p>Cliquez ici pour vous connecter à votre compte.</p>
                    <a class="pure-button" href="/connexion">Connexion</a>

                </div>

               {{template "footer" .}}
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/vendor/form-validator/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="/js/inscription.js"></script>
    </body>
</html>
{{ end }}
