.eleve_fiche {

	.message-accueil {
		display: none;
	}

	.body {
		margin-right: 30px;
		margin-left: 30px;

		hr {
			clear: both;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.etu-fiche {

			.etu-photo {
				width: 33%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-bottom: 60px;
			}

			.etu-gradu {
				font-family: $titre-regular;
			}

			.etu-bio {
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.etu-social {

			}
		}

		.etu-projets {

	        .img-projet {
	            width: 100%;
	            margin-right: auto;
	            margin-left: auto;
	            margin-bottom: 30px;

	            img {
	                width: 100%;
	            }

	            .over-projet {
	                padding: 30px;
	                background-color: black;
	                opacity: 0.8;

	                h3, p {
	                    color: $quasi-blanc;
	                    margin: 0;
	                }

	                h3 {
	                    font-family: $titre-regular;
	                    text-transform: uppercase;
	                    font-size: 20px;
	                    margin-bottom: 20px;
	                }

	                p {
	                    font-size: 14px;
	                    margin-bottom: 20px;
	                }

	                a {
	                    color: $btn-rouge;
	                }

	                a:hover {
	                    color: $btn-rouge-over;
	                }
	            }
	        }
	    }
	}

	/* iPads (portrait) ----------- */
    @media only screen 
    and (min-device-width : 768px) {

    .body {

    	.etu-fiche {
    		margin-top: 30px;

    		h1 {
    			float: left;
    			width: 65.3333334%;
    		}

    		.etu-photo {
    			display: inline-block;
                width: 30.666666667%;
                float: left;
    			margin: 0;
    			margin-right: 4%;
    			margin-bottom: 60px;
    		}

    		.etu-gradu {
    			width: 65.3333334%;
    			float: left;
    		}

    		.etu-bio {
    			float: left;
    			width: 65.3333334%;
    			margin-top: 20px;
    			margin-bottom: 20px;
    		}

    		.etu-social {
    			width: 65.3333334%;
    			float: left;
    		}
    	}

    	.etu-projets {

    		.img-projet {
    			display: inline-block;
                width: 30.666666667%;
                float: left;
    		}
    	}
    }

    }

	/* Desktops and laptops ----------- */
    @media only screen
    and (min-width : 1224px) {

        #wrapper {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
            padding-left: 0;
        }

        .body {
            margin-left: 0;
            margin-right: 0;

            .etu-fiche {

            	.etu-bio {
            		max-width: 30.6666667%;
            	}
            }
        }
    }
}