.user_compte {

	.message-accueil {
		display: none;
	}

	.body {
		margin-right: 30px;
		margin-left: 30px;

		hr {
			clear: both;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		h2 {
			display: block;
			line-height: 1.4em;
			font-size: 28px;
			font-family: $titre-light;
			margin-right: auto;
			margin-left: auto;
		}

		.msg-succes {
			display: inline-block;
			width: 100%;
			min-height: 26px;
			background-color: #74B727;
			line-height: 26px;
			vertical-align: middle;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: 1px solid #5E9420;
			padding-left: 15px;
			padding-top: 15px;
			margin-bottom: 20px;
			color: $quasi-blanc;
			font-family: $titre-regular;
			font-size: 16px;
			display: none;

			h3 {
				font-size: 18px;
				margin-top: 0;
				margin-bottom: 5px;
			}

			p {
				margin-top: 5px;
			}

			a {
				margin-bottom: 15px;
				margin-top: 10px;
				color: $gris-texte;
			}
		}

		.msg-erreur {

			.form-error {
				width: 100%;
				min-height: 40px;
				background-color: #E81313;
				line-height: 40px;
				vertical-align: middle;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				padding-left: 15px;
				margin-bottom: 20px;
				color: $quasi-blanc;
				font-family: $titre-regular;
				font-size: 16px;
			}
		}

		.wrapper-cover {
			width: 100%;
			//height: 80px;
		}

		.wrapper-cover img {
			width: 100%;
			height: 100%;
		}

		.formulaire {

			p {
				font-size: 16px;
				line-height: 1.4em;
				font-family: $texte-regular;
				color: #424245;
			}

			.img-info {
				width: 100%;
				margin-bottom: 20px;
			}

			.section {
				max-width: 100%;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				background-color: #EDEDED;
				border: 1px solid #D4D2D2;
				padding: 15px;
				margin-bottom: 20px;

				h3 {
					margin: 0;
					margin-bottom: 10px;
					font-size: 22px;
				}

				h4 {
					margin: 0;
					margin-bottom: 10px;
					margin-top: 24px;
					font-size: 16px;
					text-transform: uppercase;
				}

				input {
					margin-bottom: 14px;
					//margin-top: 12px;
					margin-top: 5px;
				}

				input:last-child {
					margin-bottom: 0;
				}

				input[type=file] {
					max-width: 100%;
				}

				textarea {
					width: 100%;
					height: 80px;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					border: 1px solid #D4D2D2;
				}

				.custom-upload {
					width: 100%;
					height: 30px;
				}

				p {
					font-size: 14px;
					margin-bottom: 14px;
					margin-top: 8px;
				}

				label {
					font-family: $titre-regular;
					font-size: 16px;
				}

				input[type=text] {
					//display: block;
					width: 100%;
					height: 30px;
					border: 1px solid #D4D2D2;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					//padding-left: 5px;
				}

				input[type=submit] {
					display: block;
				}

				input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
					padding-left: 5px;
				}
				input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					padding-left: 5px;
				}
				input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
					padding-left: 5px;
				}
				input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
					padding-left: 5px;
				}

				.gradu {
					display: block;
					width: 100%;
					height: 30px;

					option {
						height: 20px;
					}
				}

				.supp-compte {
					margin-top: 20px;
				}

				.msg {
					color: rgb(202, 60, 60);
					font-size: 16px;
				}

				.button-error {
					color: $quasi-blanc;
		            background: rgb(202, 60, 60); /* this is a maroon */
		        }
			}
		}
	}

	/* iPads (portrait) ----------- */
	@media only screen
	and (min-device-width : 768px) {

		.body {

			h2 {
				max-width: 45%;
			}

			.formulaire {
				width: 45%;
				margin-right: auto;
				margin-left: auto;
				margin-bottom: 60px;

				p:first-child {
					margin-top: 0;
				}

				.section {
					margin-bottom: 40px;
				}

			}
		}
	}

	/* Desktops and laptops ----------- */
	@media only screen
	and (min-width : 1224px) {

		#wrapper {
			max-width: 1280px;
			margin-left: auto;
			margin-right: auto;
			padding-right: 0;
			padding-left: 0;
		}

		.body {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
